@import url('https://fonts.googleapis.com/css?family=Sigmar+One');

.peliculas{
    font-family: 'Sigmar One', cursive;
}
.cajamovies{
    display: inline-block;
}
.card-img-top{
    height: 300px;
}
.card-body{
    height: 200px;
}
a{
    font-weight: bold
}
